header.header--principal
	.logo.logo--header: img(src="../images/logo--header.svg")
	nav.nav--header: ul
		li: a(href="./pagina-principal.html") Playstation
		li: a(href="./pagina-principal.html") Xbox
		li: a(href="./pagina-principal.html") Nintendo
		li: a(href="./pagina-principal.html") PC
		li: a(href="./pagina-principal.html") Mobile
	a(href="./resultados-busqueda.html" class="header__busqueda")
		i.fas.fa-search
		span Search