.articulo--principal {
  max-width: 90%;
  margin: 0 auto;
  p {
    margin-bottom: 2rem;
    @include media (desktop-s) {
      @include font-size(20px);
    }
  }
  .articulo--principal__intro {
    @include font-size(25px);
    @include media (desktop-s) {
      @include font-size(35px);
    }
  }
  h3 {
    color: $color-secundario;
    margin-bottom: 1rem;
    @include titulos($fuente2);
    @include media (desktop-s) {
      @include font-size(25px);
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    @include font-size(40px);
    @include media (desktop-s) {
      @include font-size(50px);
    }
  }
  @include media (desktop-s) {
    max-width: 50%;
  }
}

// Article UserPage
.articulos {
  padding: 1rem;
  @include media(desktop-s) {
    width: 50%;
  }
  @include media(desktop-m) {
    padding-left: 3rem;
  }
}

.articulo {
  padding: 2rem 0 1rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid $color-secundario;
  &__categoria {
    display: block;
    color: $color-secundario;
    margin-bottom: .5rem;
    @include titulos($fuente2);
  }
  &__titulo {
    margin-bottom: 1rem;
    @include font-size(25px);
  }
  &__descripcion {
    @include font-size(18px);
  }
}