.header--principal {
  display: flex;
  height: 90px;
  border-bottom: 1px solid get-opacity($color-primario, .1);
  @include space-responsive;
  @include media (desktop-m) {
    max-width: 1300px;
    margin: 0 auto 2rem;
    border: 0;
  }
}

.nav--header {
  display: none;
  @include media (tablet) {
    display: block;
    padding-top: 2.3rem;
    margin: 0 auto;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-right: .5rem;
        @include titulos($fuente2);
        @include media (desktop-m) {
          margin-right: 2rem;
        }
        a {
          color: $color-variacion;
        }
      }
    }
  }
}

.header__busqueda {
  display: none;
  @include media (tablet) {
    display: block;
    padding-top: 2.3rem;
    margin-left: auto;
    i {
      color: $color-secundario;
      margin-right: .5rem;
    }
    span {
      color: $color-variacion;
      @include titulos($fuente2);
    }
  }
}